{% extends 'layouts/default.html' %}
{% set title = '更换密码' %}
{% set menuActive = 'settings' %}
{% block container %}
<div class="h4 mb-4">修改密码</div>
<div class="w-lg-50">
    <form action="" method="post">
        {% if hasError %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elseif message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="passwordInput" class="form-label">旧密码</label>
            <input type="password" name="password" class="form-control" id="passwordInput" placeholder=""
                autocomplete="current-password" required autofocus minlength="3">
        </div>
        <div class="mb-3">
            <label for="newPasswordInput" class="form-label">新密码</label>
            <input type="password" name="newPassword" class="form-control" id="newPasswordInput" placeholder=""
                autocomplete="current-password" required minlength="6">
        </div>
        <button class="btn btn-lg btn-dark" type="submit">修改</button>
    </form>
</div>
{% endblock container %}