{% extends 'layouts/default.html' %}
{% set title = '更换密码' %}
{% set menuActive = 'settings' %}
{% block container %}
<div class="row">
    <div class="col-lg-2">
        <nav class="side-menu">
            <div class="side-menu-label d-flex align-items-center">设置</div>
            <ul class="side-menu-list">
                <li><a href="/settings/general">基本信息</a></li>
                <li><a class="active">修改密码</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-10">
        <div class="h4 mb-4">设置 - 修改密码</div>
        <div class="w-lg-50">
            <form action="" method="post">
                {% if hasError %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elseif message %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">旧密码</label>
                    <input type="password" name="password" class="form-control" id="passwordInput" placeholder=""
                        autocomplete="current-password" required autofocus minlength="3">
                </div>
                <div class="mb-3">
                    <label for="newPasswordInput" class="form-label">新密码</label>
                    <input type="password" name="newPassword" class="form-control" id="newPasswordInput" placeholder=""
                        autocomplete="current-password" required minlength="6">
                </div>
                <button class="btn btn-lg btn-dark" type="submit">保存</button>
            </form>
        </div>
    </div>
</div>
{% endblock container %}