<!-- 用户管理 -->
{% extends 'layouts/default.html' %}
{% set title = '用户' %}
{% set menuActive = 'system' %}
{% block container %}
<div class="h4 mb-4">系统 - 用户管理</div>
<div class="toast-container p-3 top-0 start-50 translate-middle-x">
    <div class="toast align-items-center text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span id="toastContent"></span>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between">
            <form id="searchForm" method="get" class="d-flex align-items-center">
                <div><input id="queryName" class="form-control" type="search" name="name" value="{{ query.name }}"
                        placeholder="名称" /></div>
                <div class="ms-1"><button id="queryBtn" class="btn btn-dark" type="submit">搜索</button></div>
            </form>
            <div class="d-flex align-items-center">
                <div class="ms-3 d-flex align-items-center flex-wrap">
                    <button type="button" class="btn btn-dark" onclick="app.new()">新增</button>
                </div>
                <div class="ms-3 d-flex align-items-center flex-wrap">
                    <button id="toolbarRefresh" onclick="app.search()" data-toggle="tooltip" title="刷新"
                        class="btn btn-dark btn-action ms-1 d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-clockwise"
                            width="24" height="24" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                            <path
                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                        </svg>
                    </button>
                    <button id="toolbarPrevPage" onclick="app.pageTo('prev')" data-toggle="tooltip" title="上一页" {{ "" if
                        pagination.hasPrevious else "disabled" }}
                        class="btn btn-dark ms-1 btn-action d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-short"
                            width="24" height="24" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                    </button>
                    <button id="toolbarNextPage" onclick="app.pageTo('next')" data-toggle="tooltip" title="下一页" {{ "" if
                        pagination.hasNext else "disabled" }}
                        class="btn btn-dark btn-action ms-1 d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-short"
                            width="24" height="24" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mt-3">
            <table class="table table-bordered table-group-divider table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">名称</th>
                        <th scope="col">邮箱</th>
                        <th scope="col">电话</th>
                        <th scope="col">锁定</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr id="user-{{user.id}}">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{'已锁定' if user.isLocked else '未锁定'}}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-sm btn-dark"
                                    onclick="app.edit('{{user.id}}')">编辑</button>
                                {% if user.id !== 1 %}
                                {% if user.isLocked %}
                                <button type="button" class="btn btn-sm btn-danger ms-1"
                                    onclick="app.unlock('{{user.id}}')">解锁</button>
                                {% else %}
                                <button type="button" class="btn btn-sm btn-danger ms-1"
                                    onclick="app.lock('{{user.id}}')">锁定</button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="editor"></div>
<div id="confirm"></div>
<div id="toast"></div>
{% endblock container %}

{% block script %}
<script>
    // TODO editor 要改成 customer/index.html 的模式
    const editor = {
        title: '用户编辑',
        user: {},
        close: function () {
            $('#edit').modal('hide');
            $('#edit').remove();
            editor.user = {};
            title = '用户编辑';
        },
        render: function () {
            const model = this;
            $('#editor').append(
                `<div id="edit" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">${model.title}</h5>
                            <button type="button" class="btn-close" onclick="editor.close()"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column">
                                <div class="mb-3 row">
                                    <label for="inputName" class="col-sm-2 col-form-label">名称</label>
                                    <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" value="${model.user.name || ''}">
                                    </div>
                                </div>        
                                <div class="mb-3 row">
                                    <label for="inputPhone" class="col-sm-2 col-form-label">电话</label>
                                    <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPhone" value="${model.user.phone || ''}">
                                    </div>
                                </div>                                                                        
                                <div class="mb-3 row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">邮件</label>
                                    <div class="col-sm-10">
                                    <input type="text"class="form-control" id="inputEmail" value="${model.user.email || ''}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">密码</label>
                                    <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="editor.close()">关闭</button>
                            <button type="button" class="btn btn-dark" onclick="editor.save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>`);
            $('#edit').modal('show');
        },
        save: function () {
            const user = this.user;
            user.email = $('#inputEmail').val();
            user.name = $('#inputName').val();
            user.password = $('#inputPassword').val();
            user.phone = $('#inputPhone').val();
            const url = user.id ? `/system/users/${user.id}` : '/system/users';
            $.ajax({
                type: 'post',
                url,
                data: user
            }).done(function (result) {
                const { hasError, message, data } = result;
                $('#toastContent').text(message);
                if (!hasError) {
                    $('.toast').removeClass('bg-success bg-danger').addClass('bg-success');
                    $('.toast').toast('show');
                    // reload page is disgusting
                    let search = window.location.search;
                    window.location.href = `./users${search}`;
                } else {
                    $('.toast').removeClass('bg-success bg-danger').addClass('bg-danger');
                    $('.toast').toast('show');
                }
                editor.close();
            });
        }
    };

    const app = {
        data: {
            skip: '{{query.skip}}',
            limit: '{{query.limit}}',
            count: '{{pagination.count}}'
        },
        search() {
            const form = document.getElementById('searchForm');
            const formData = new FormData(form);
            formData.append('skip', app.data.skip);
            formData.append('limit', app.data.limit);
            const queryStr = new URLSearchParams(formData).toString();
            window.location.href = `./users?${queryStr}`;
        },
        pageTo(d) {
            if (d === 'prev') app.data.skip = Math.max(0, app.data.skip - app.data.limit);
            else app.data.skip = Math.min(app.data.count, app.data.skip + app.data.limit);
            this.search();
        },
        lock(userId) {
            helper.confirm('锁定该用户吗？', function () {
                $.ajax({
                    url: `/system/users/${userId}/lock`,
                    type: 'put',
                }).done(function () {
                    helper.toast('操作成功', 'success');
                    document.querySelectorAll(`#user-${userId} td`)[3].innerHTML = '已锁定';
                    document.querySelectorAll(`#user-${userId} td`)[4].innerHTML = `
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-sm btn-dark" onclick="app.edit('${userId}')">编辑</button>
                                <button type="button" class="btn btn-sm btn-danger ms-1" onclick="app.unlock('${userId}')">解锁</button>
                            </div>
                       `;
                });
            });
        },
        unlock(userId) {
            helper.confirm('锁定该用户吗？', function () {
                $.ajax({
                    url: `/system/users/${userId}/unlock`,
                    type: 'put',
                }).done(function () {
                    helper.toast('操作成功', 'success');
                    document.querySelectorAll(`#user-${userId} td`)[3].innerHTML = '未锁定';
                    document.querySelectorAll(`#user-${userId} td`)[4].innerHTML = `
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-sm btn-dark" onclick="app.edit('${userId}')">编辑</button>
                                <button type="button" class="btn btn-sm btn-danger ms-1" onclick="app.lock('${userId}')">锁定</button>
                            </div>
                       `;
                });
            });
        },
        new() {
            editor.title = '新建用户';
            editor.user = {};
            editor.render();
        },
        edit(userId) {
            $.getJSON(`/system/users/${userId}`)
                .then((data) => {
                    editor.title = '编辑用户';
                    editor.user = data;
                    editor.render();
                });
        }
    };
</script>
{% endblock script %}