{% extends 'layouts/blank.html' %}
{% set title = '404 - 你懂的' %}
{% block body %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="p-5" style="max-width: 800px;">
        <div class="display-4 mb-4">404 - 你懂的</div>
        <div class="fs-6 fw-normal mb-4">
            看起来你访问了一个我们未知的页面，或者你访问的页面已经被删除，或者你是不是自己输入了网址？我猜你可能想探索网站，为何不试试点上面菜单的”探索“呢？。<br />
            最后这里该有一张很酷的插图，但是我太懒了，所以就这样了。
        </div>
        <a class="btn btn-dark" href="javascript:history.go(-1)" }>返回前页</a>
    </div>
</div>
{% endblock body %}
